@import '~node_modules/modern-normalize/modern-normalize.css';


body {
  // background-color: var(--bg-color-white);
  // color: var(--first-color-text);

  // font-family: var(--accent-font);
  font-style: normal;

  letter-spacing: 0.04em;
}

// .mainwrapper {
//   width: 100vw;
//   height: 100vh;
//   overflow: auto;
//   scroll-behavior: smooth;
// }

// $transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);

* {
  padding: 0;
  margin: 0;
  border: 0;
}

*,
*before,
*after {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

:focus,
:active {
  outline: none;
}

a:focus,
a:active {
  outline: none;
}

nav,
footer,
header,
aside {
  display: block;
}

html,
body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
}

a,
a:visited,
a:hover {
  text-decoration: none;
}

ul,
li {
  list-style: none;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: inherit;
  font-weight: inherit;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

body {
  // background-color: var(--bg-color-white);
  // color: var(--first-color-text);

  // font-family: var(--accent-font);
  font-style: normal;
  letter-spacing: 0.04em;

  // @include font(12px, 500, 1.52);

}