.container {
  max-width: 1920px;
  padding: 1rem;
  margin: 1rem 0rem;
}

.technology_container {
  
}

.container h1 {
  text-align: center;
}

.technology_block {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin-top: 1rem;
  background: #B1B2FF;
}

.technology_pairs {
  display: flex;
  flex-direction: row;
  .technology_pair {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 3rem;
    margin: 2.5rem 2rem 0 2rem;
    padding: 0 0 90px 0;
  }
  .technology_pair2 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 3rem;
    margin: 2rem;
  }
}

.card {
  height: 120px;
  width: 120px;
  position: relative;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.25);
  display: flex;
  align-items: center;
  justify-content: center;
  transition: 0.8s cubic-bezier(0.2, 0.8, 0.2, 1);
  background-color: rgb(241, 235, 244);
  border-radius: 16px;
  filter: blur(1.5px);
}

  .technology_title {
    position: absolute;
    z-index: 10;
  }

.card:hover {
  transform: scale(1.035, 1.035);
  box-shadow: 0 15px 30px rgba(0, 0, 0, 0.5);
}

@media (max-width: 769px) {
  .technology_pairs {
    .technology_pair, .technology_pair2{
      margin: 1rem;
      gap: 2rem;
    }
  }
}

@media (max-width: 576px) {
  .technology_pairs {
    display: flex;
    flex-direction: column;
    .technology_pair, .technology_pair2{
      padding: 0;
      gap: 1.5rem;
      margin: 1.5rem 0.75rem 0 1rem;
    }
  }
  .card {
    height: 100px;
    width: 100px;
  } 
}

// .card {
  
//   // animation: parallax 1s ease-in-out infinite alternate;
// 	// 	@keyframes parallax {
// 	// 		0% {
// 	// 			transform: translateY(-10px);
// 	// 		}
// 	// 		100% {
// 	// 			transform: translateY(10px);
// 	// 		}
// 	// 	}
//   // animation: dimension 1s ease-in-out infinite alternate;
// 	// @keyframes dimension {
// 	// 	100% {
// 	// 		transform: rotateX(-40deg);
//   //     background-image: linear-gradient(45deg, #89aaf3, #8b5acf);
// 	// 	}
// 	// }
// }

.footer_container {
  background: #B1B2FF;
  max-width: 100%;
  .footer_block {
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 8rem;
    height: 200px;
    align-items: center;
  }
}

.footer_img {
  height: 100px;
  width: 100px;
}

.footer_img img{
  max-width: 100%;
  width: auto;
  height: auto;
  object-fit: cover;
} 

.contact_container, .leave_container {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.leave_container input {
  height: 35px;
  border: none;
  border-bottom: 1px solid rgb(117, 117, 117);
  background: #B1B2FF;
}

.leave_container input {
 cursor: pointer;
}

.leave_container button {
  display: block;
  width: 40%;
  background-color: #2000FF;
  padding: 4px 8px 6px;
  box-shadow: 5px 6px 15px rgba(10, 2, 64, 0.3);
  border-radius: 5px;
  transition: all .3s;
  font-size: 0.9rem;
  color: #fff;
  border: none;
  outline: none;
}

.leave_container button:hover {
  background-color: #240acd;
  cursor: pointer;
}

.leave_container button:active {
  background-color: #1b0a88;
  cursor: pointer;
}

.contact_block {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
}

.contact_block img {
  width: 20px;
  margin-right: 10px;
}



