<section class="technology_container container" id="uk">
  <!--
    ❗️❗️❗️ The path to images from the HTML partial
    is the same as from the index.html file
  -->
  <h1>Технології</h1>
  <h1>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Assumenda, quod.</h1>
  <div class="technology_block">
    <div class="technology_pairs">
      <div class="technology_pair">
        <div class="card">
          <div class="technology_title">PHP</div>
        </div>
        <div class="card"><div>Html</div></div>
      </div>
      <div class="technology_pair2">
        <div class="card"><p>Vue</p></div>
        <div class="card"><p>React</p></div>
      </div>
    </div>
    
    <div class="technology_pairs">
      <div class="technology_pair">
        <div class="card"><p>NodeJs</p></div>
        <div class="card"><p>CSS</p></div>
      </div>
      <div class="technology_pair2">
        <div class="card"><p>WordPress</p></div>
        <div class="card"><p>MySQL</p></div>
      </div>
    </div>
  </div>
</section>

<footer class="container">
  <div class="footer_container">
    <div class="footer_block">
      <div class="footer_img">
        <img src="./images/app-development.png" alt="logo">
      </div>
      <div class="contact_container">
        <p>Contacts</p>
        <div class="contact_block">
          <img src="./images/telephone.svg" alt="tel"> 
          <p>+380505555555</p>
        </div>
        <div class="contact_block">
          <img src="./images/email.svg" alt="email"> 
          <p>ggg@gmail.com</p>
        </div>
        <div class="contact_block">
          <img src="./images/location.svg" alt="location"> 
          Ukraine, Kyiv, Electrotekhnichna str.
        </div>
      </div>
      <div class="leave_container">
        <p>Leave your number</p>
        <input type="text"/>
        <button type="submit">Send</button>
      </div>
    </div>
  </div>
</footer>
	